.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content,
.lightbox-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lightbox-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 20rem;
  height: 20rem;
}

input.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}

button {
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

button {
  flex: 1;
  margin: 0 5px;
}
